<head>
	{% load static %}

	<meta charset="UTF-8">
	<title>{{ title }}</title>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="application/javascript" src="{% static 'js/HotChairs/index.js' %}"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/HotChairs/index.css' %}" />
	<link rel="shortcut icon" href="{% static 'image/Purpose.png' %}" />
</head>
<body dir="rtl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-1">
				<select id="organizationCmb" class="form-select">
					<option hidden>בחר ארגון</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div id="placesDiv" class="col tableDiv">
				<label id="placesLbl" for="placesTbl" class="label tablesLabel">מצב מקומות הישיבה של הארגון</label>
				<table id="placesTbl" class="table table-bordered w-auto">
					<thead>
						<tr>
							<th hidden>מס' מקום הישיבה</th>
							<th>מקום הישיבה</th>
							<th>מצב</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div id="employeesDiv" class="col tableDiv">
				<label id="employeesLbl" for="employeesTbl" class="label tablesLabel">עובדי הארגון</label>
				<table id="employeesTbl" class="table table-bordered w-auto">
					<thead>
						<tr>
							<th></th>
							<th hidden>מס' העובד</th>
							<th>שם משפחה</th>
							<th>שם פרטי</th>
							<th>תעודה זהות</th>
							<th>מקום נוכחי</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<button id="employeePlaceAskBtn" class="btn btn-secondary" disabled>הזמן מקום לעובד</button>
			</div>
			<div id="historyDiv" class="col tableDiv">
				<label id="historyLbl" for="historyTbl" class="label tablesLabel">הסטוריית הזמנות של העובד</label>
				<table id="historyTbl" class="table table-bordered w-auto">
					<thead>
						<tr>
							<th hidden>מס' הזמנה</th>
							<th>מועד ביצוע ההזמנה</th>
							<th>מקום שהוזמן</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="freePlaceDiv" title="הזמנת מקום לעובד">
		<div class="row">
			<div class="col">
				<select id="freePlaceCmb" class="form-select"></select>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col">
				<button id="dialogOkBtn" class="btn btn-primary" disabled>אישור</button>
			</div>
			<div class="col">
				<button id="dialogCancelBtn" class="btn btn-primary">ביטול</button>
			</div>
		</div>
	</div>
</body>