body {
     background-color: deepskyblue;
}

.tableDiv {
    text-align: center;
}

.tablesLabel {
    font-size: 24;
    font-weight: bold;
    text-decoration: underline;
}

#employeesTbl {
    background-color: yellow;
}

#historyTbl {
    background-color: orange;
}

#placesTbl {
    background-color: lime;
}